Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.autohint:  true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba:      rgba

!URxvt----------------------------
!URxvt.letterSpace:0
URxvt.font: xft:Iosevka Term SS03:style=Regular:size=13:antialias=true:hinting=true:minispace=False,xft:Font Awesome 5 Free Regular:style=Regular:size=20
URxvt.boldFont: xft:Iosevka Term SS03 Medium:style=Medium Italic:size=13:antialias=true:hinting=true:minispace=False,xft:Font Awesome 5 Free Regular:style=Regular:size=20
URxvt.italicFont: xft:Iosevka Term SS03:style=Bold Italic:size=13:antialias=true:hinting=true:minispace=False,xft:Font Awesome 5 Free Regular:style=Regular:size=20

URxvt.depth:                    32
URxvt*internalBorder:           20
URxvt*scrollBar:                false
URxvt*scrollTtyOutput:          false
URxvt*scrollTtyKeypress:        true
URxvt*mouseWheelScrollPage:     true
URxvt*cursorBlink:              true
URxvt*saveLines:                10000
!URxvt*fade:			70
!URxvt*fadeColor:		#0d0b0b
!URxvt*blurRadius:		5

URxvt.keysym.C-0: command:\033]710;xft:Iosevka\ Term\ SS03:style=Regular:size=13:antialias=true:hinting=true:minispace=False\007\033]711;xft:Iosevka\ Term\ SS03\ Medium:style=Medium\ Italic:size=13:antialias=true:hinting=true:minispace=False\007
URxvt.keysym.C-minus: command:\033]710;xft:Iosevka\ Term\ SS03:style=Regular:size=10:antialias=true:hinting=true:minispace=False\007\033]711;xft:Iosevka\ Term\ SS03\ Medium:style=Medium\ Italic:size=10:antialias=true:hinting=true:minispace=False\007
URxvt.keysym.C-equal: command:\033]710;xft:Iosevka\ Term\ SS03:style=Regular:size=16:antialias=true:hinting=true:minispace=False\007\033]711;xft:Iosevka\ Term\ SS03\ Medium:style=Medium\ Italic:size=16:antialias=true:hinting=true:minispace=False\007

!Pass on Ctrl Tab correctly
URxvt.keysym.Control-Tab:                      \033[27;5;9~
URxvt.keysym.Control-Shift-ISO_Left_Tab:       \033[27;6;9~

! Normal copy-paste keybindings without perls
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard
URxvt.keysym.Shift-Up:          command:\033]720;5\007
URxvt.keysym.Shift-Down:        command:\033]721;5\007
URxvt.keysym.Control-k:         command:\033]720;5\007
URxvt.keysym.Control-j:         command:\033]721;5\007

! Rofi-------------------------------------------------------------------------
rofi.fullscreen: false
rofi.modi: run,ssh
rofi.font: Iosevka Medium Oblique 18
rofi.show-icons: true
rofi.hide-scrollbar: true
rofi.separator-style: solid
rofi.terminal: urxvt
rofi.eh: 1
rofi.bw: 0
rofi.padding: 50
