Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!Colors___________________________
! special
*.foreground:   #858585
*.background:   #0d0b0b
*.cursorColor:  #9f2323

! black
*.color0:       #0d0b0b
*.color8:       #4e4e50

! red
*.color1:       #6f2232
*.color9:       #9f2323

! green
*.color2:       #116466
*.color10:      #00887a

! yellow
*.color3:       #5d2632
*.color11:      #9f2323

! blue
*.color4:       #5d2632
*.color12:      #812828

! magenta
*.color5:       #9f2323
*.color13:      #bc4639

! cyan
*.color6:       #5d3535
*.color14:      #845b5b

! white
*.color7:       #707880
*.color15:      #c5c8c6

!URxvt----------------------------
!URxvt.letterSpace:0
URxvt.font: xft:Iosevka Term:style=Regular:size=12:antialias=true:hinting=true:minispace=False, xft:DejaVu Sans Mono:style=Regular:size=11:minispace=False, xft:Unifont:style=Medium:size=11:minispace=False
	    
URxvt.depth:                      32
!URxvt.background:                 [95]#10132D 
!URxvt*borderColor:                [95]#10132D 
URxvt*internalBorder:             10
URxvt*scrollBar:                  false
URxvt*scrollTtyOutput:            false
URxvt*scrollTtyKeypress:          true
URxvt*mouseWheelScrollPage:       true
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000
URxvt*fade:			  70
URxvt*fadeColor:		  #0d0b0b

URxvt.keysym.C-0: command:\033]710;xft:Iosevka term:style=Regular:size=12:antialias=true\007
URxvt.keysym.C-minus: command:\033]710;xft:Iosevka Term:style=Reular:size=10:antialias=true\007
URxvt.keysym.C-equal: command:\033]710;xft:Iosevka Term:style=Regular:size=15:antialias=true\007

! Normal copy-paste keybindings without perls
URxvt.iso14755:                   false
URxvt.keysym.Shift-Control-V:     eval:paste_clipboard
URxvt.keysym.Shift-Control-C:     eval:selection_to_clipboard
