.panel-normal-font StLabel {
    font-weight: normal;
    color: rgba(0,0,0, 0.8);
}

.panel-transparent-reduced {
    background-color: rgba(0,0,0,0.0);
    height: 28px;
}

.straight-panel-corner.panel-corner {
    -panel-corner-radius: 0;
}
